#content{
	padding: 88px;
	overflow: hidden;
}
#title{
	font-size: 24px;
	color: #7c7c7c;
	margin: 15px 0;
}
#img-box{
	width: 310px;
	float: left;
}
#big-img{
	padding:3px;
	border: 1px solid #efefef;

}
#big-img img{
	height: 451px;
	width: 302px;
	display: block;
}
.line{
	text-align: center;
	position: relative;
	margin: 15px 0;
	clear: both;
}
.line::before{
	content: '';
	height: 2px;
	background: #f4f4f4;
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	/*顶部顶到中间线*/
	margin-top:-1px;
	/*扣本身一半的高度 及剧中*/

}
/*图片可以修正在一个元素里默认有空隙 设置display:block */
/*行级元素不能设置宽高*/
/*图片相当于行级块元素 可以设置宽高     */
.line span{
	color: #7c7c7c;
	font-size: 37px;
	background: #fff;
}

.small-img li{
	width: 60px;
	border: 1px solid #7c7c7c;
	padding: 5px;
	float: left;
	margin-right: 7px;
}
.small-img li:last-child{
	margin-right: 0px;
}
.small-img li img{
	width: 60px;
	display: block;	
}

.product{
	width: 365px;
	float: left;
}
.p-title{
	color: #7c7c7c;
	font-size:14px;
	margin-bottom: 5px;
}
.p-description{
	border: 1px solid #efefef;
	background: #f4f4f4;
	padding: 15px;
	color: #7c7c7c;
	margin-bottom: 20px;
}

.price{
	width: 240px;
	float: right;
	border: 1px solid #efefef;
	padding: 15px;
}
.price h1{
	font-size: 35px;
	height: 40px;
	color: #7c7c7c;
}
.price .incl{
	color: #d7d7d7;
	margin-bottom: 20px;
}
.price .select{
	color:#7c7c7c; 
	font-weight: bold;
	margin-bottom: 10px;
	padding-right: 13px;
}
.sel-btn{
	height: 30px;
	background: #e8e8e8;
	padding: 0 10px;
	line-height: 30px;
	position: relative;
}
.sel-btn p{
	overflow: hidden;
	width: 186px;
}
.sel-btn span{
	border: 4px solid transparent;
	border-top: 4px solid #747474;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px;
}
.sel-menu{
	background: #fff;
	border: 1px solid rgba(0,0,0,0,2);
	/*红绿蓝透明度*/
	border-radius: 5px;
	padding: 5px 0px;
	display: none;
	position: absolute;
	/*(默认left和top在相当于00的位置)*/
	left: 0；
	top：35px;
	z-index: 1;
}
.sel-menu li{
	width: 186px;
	line-height: 26px
	padding:0 20px;
	color: #333333；
}
.sel-menu li:hover{
	background: #0081c2;
	color: #fff;
}
.price input{
	width: 226px;
	height: 30px;
	outline: none;
	padding:0 5px ;
	color: #A7A7A7;
	margin-bottom: 10px;
}
#Add .btn-Add{
	border: 1px solid #609450;
	background: #609450;
	line-height: 42px;
	text-align: left;
	text-align: center;
}
#Add .btn-Add.glyphicon{
	padding-top: 22px;
	font-size: 33px 44px;
	
}
#Add .btn-Add a{
	font-weight: bold;
    color: #ffffff;
}
/*#Add .btn-Add p{
	padding: 10px 10px 10px 40px;
}*/
.p-share{
	text-align: right;
	margin: 15px 0;
	/*line-height: 28px;
	height: 28px 无法垂直居中*/
	/*vertical-align: middle;设置给父元素不好使*/
	color: #7c7c7c;
}
.p-share .glyphicon{
	font-size: 24px;
	
}
.p-share span{

	vertical-align: middle;
	/*设置给子元素 可以*/
}